* {
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "custom-font";
  src: url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot");
  src: url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff") format("woff"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.svg#COCOGOOSE") format("svg");
}

.bg-2 {
  background-color: #1C1A19;
}

.head-section h1 {
  font-size: 8rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.head-section p {
  font-size: 1.7rem;
  margin-bottom: 4rem;
  line-height: 1.8rem;
}

.bg-d {
  background-color: #3E3C3C;
}

.big-my {
  margin-top: 125px;
  margin-bottom: 125px;
}

.fs-2 {
  font-size: 15px;
}

.fs-3 {
  font-size: 25px;
}

.text-th {
  color: #F55800;
}

.bg-th {
  background-color:  #F55800;
}

#sub-text {
  font-size: 2.7rem;
  font-weight: 700;
}

.fw-bold {
  font-weight: bold;
}

.work-frame {
  height: auto;
  padding: 30px;
}

.image-frame {
  width: auto;
  height: auto;
}

.other-language {
  top: 80%
}

.btn-see {
  font-size: 15px;
  padding: 5px;
  font-weight: bold;
  color: white;
  border-style: none;
}

.title-photo {
  text-align: center;
  top: 50%;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.text-photo {
  top: 65%;
  font-size: 13px;
  color: white;
}

.github-photo {
  top: 56%;
  font-weight: bold;
  font-size: 22px;
  color: rgb(19, 84, 128);
}

.img-size {
  height: 400px;
  background: linear-gradient(179.35deg, rgba(77, 77, 77, 0) 0.85%, rgba(15, 15, 15, 0.973) 60%), url(../images/logo.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
}

.img-size2 {
  height: 400px;
  background: linear-gradient(179.35deg, rgba(77, 77, 77, 0) 0.85%, rgba(15, 15, 15, 0.973) 60%), url(../images/screenshot.png);
  background-repeat: no-repeat;
  background-position: 50%;
}

.img-size3 {
  height: 400px;
  background: linear-gradient(179.35deg, rgba(77, 77, 77, 0) 0.85%, rgba(15, 15, 15, 0.973) 60%), url(../images//screenshot2.png);
  background-repeat: no-repeat;
  background-position: 50%;
}

.btn-other {
  bottom: 0;
  width: 100% !important;
}

.about-img {
  width: 180rem;
  height: auto;
}

.about-list {
  list-style: none;
  font-size: 1.5rem;
}

.about-list,
li {
  padding: 1rem;
}

@media (max-width: 768px) {
  .mobile {
    display: block;
  }

  #menu img {
    display: none;
  }

  #links {
    display: flex;
    flex-direction: column;
  }

  .collapse {
    display: block;
  }

  .head-section h2 {
    font-size: 1.8rem;
  }

  .head-section h1 {
    font-size: 3rem;
  }

  .head-section p {
    font-size: 1.2rem;
  }

  .event-item {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }

  .rounded-pill {
    font-size: 80%;
    height: 2.3rem;
  }

  .recent-work {
    font-size: 1rem;
  }

  .line {
    width: 70%;
    height: 100% !important;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
  }

  .language {
    border-style: solid;
    border-color: #3E3C3C;
    font-size: 8px;
    margin-right: 5px;
    padding: 2px;
  }

  .lh-5 {
    line-height: 1.8rem !important;
    font-size: 1.1rem !important;
  }

  .about-text {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }

  #menu {
    display: flex;
  }

  #menu-elem {
    width: 85%;
  }

  .event-item {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }

  .rounded-pill {
    font-size: 1.8rem;
    height: 3.7rem;
    width: 100%;
  }

  .recent-work {
    font-size: 2rem;
  }

  .line {
    width: 70%;
    height: 100% !important;
    margin-left: 1.5rem !important;
    margin-top: 1.5rem!important;
  }

  .language {
    border-style: solid;
    border-color: #3E3C3C;
    font-size: 15px;
    margin-right: 5px;
    padding: 5px;
  }

  .lh-5 {
    line-height: 2.8rem !important;
    font-size: 2.1rem !important;
  }

  .about-text {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}
